# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://jtpossfckjzxjpalfsdh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp0cG9zc2Zja2p6eGpwYWxmc2RoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ0MTc2MzAsImV4cCI6MjA5OTk5MzYzMH0.tMHQ5KtQS50d7QQ63zJfbjtqTdvEq_2idHLstnXIqoQ
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFzZnRodHBqZmhodndyd3Bqdm5mIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODY2NDg5NSwiZXhwIjoyMDk0MjQwODk1fQ.cht7cBKJmzHxzZ3oMXaLSFxXzT2gFhSxjMSmPlGtvtg

# App
NEXT_PUBLIC_SITE_URL=https://apkmonx.vercel.app
